#home_button {
    text-decoration: underline;
}

.bio {
    width: 100%;
    height: 20%;
    background-color: #eae2b7;
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    margin-top: -10px;

    grid-template-areas: 
    "intro selfie";
    grid-auto-columns: 1fr 1fr;
}

.education {
    width: 100%;
    height: 15%;
    background-color: #a5a58d;
    padding-bottom: 100px;
}

#education_title {
    color: #800f2f;
    text-align: center;
    padding-top: 20px;
}

.experience {
    width: 100%;
    height: 20%;
    background-color: #6c757d;
    padding-bottom: 100px;
}

.contents {
    width: 100%;
}

#self_intro {
    width: 80%;
    height: 80%;
    justify-self: end;
    grid-area: intro;
}

.description {
    width: 100%;
}

.description::first-letter {
    font-weight: bold;
    font-size: x-large;
}

#selfie {
    width: 80%;
    justify-self: start;
    align-self: center;
    grid-area: selfie;
}

#selfie_photo {
    width: 400px;
    height: 400px;
    display: block;
    margin: auto;
    border-width:3px;
    border-style:solid;
    border-color: gainsboro;
}

.experience_intro {
    padding-top: 50px;
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    gap: 50px;
}

#experience_title {
    color:honeydew;
    padding-top: 20px;
    text-align: center;
}

.experience_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.experience_col1 {
    width: 30%
}

.experience_col2 {
    width: 60%;
    flex-shrink: 2;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    margin: 0;
    font-family: title;
    color: #2d6a4f;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

i {
    padding-left: 10px;
    padding-right: 20px;
}

h3 {
    color: #10451d; 
}

@media screen and (max-width: 600px) {
    .bio {
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "intro"
        "selfie";
    }

    #self_intro {
        align-self: center;
        justify-self: center;
    }

    #selfie {
        align-self: center;
        justify-self: center;
    }

    .bio {
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .experience_row {
        width: 100%;
        flex-direction: column;
    }
    
    .experience_col1 {
        width: 100%;
    }
    .experience_col2 {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    #selfie_photo {
        width: 300px;
        height: 300px;
    }
    html {
        font-size: small;
    }
}
