.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #3D3D3D;
}

.buttons {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.button {
    width: 100px;
    height: 60%;
    text-align: center;
    text-decoration: none;
    font-family: oswald;
    font-size: x-large;
    flex-grow: 1;
}

.button:hover {
    text-decoration: underline;
}

.name {
    width: 100px;
    height: 60%;
    text-align: center;
    font-family: name;
    font-size: xxx-large;
    font-weight: bold;
    color: #FFFFFF;
    flex-grow: 1;
    margin-top: -30px;

}

.padding {
    height: 10%;
}

#page_title {
    text-align: center;
}

a {
    text-decoration: none;
}

#home_button {
    color: honeydew;
}

#home_button:hover {
    color: #47126b;
    transition: 0.3s;
}

#project_button {
    color: honeydew;
}

#project_button:hover {
    color: #47126b;
    transition: 0.3s;
}

#contact_button {
    color: honeydew;
}

#contact_button:hover {
    color: #47126b;
    transition: 0.3s;
}

#about_button {
    color: honeydew;
}

#about_button:hover {
    color: #47126b;
    transition: 0.3s;
}

body {
    margin: 0;
    font-family: content;
}

hr {
    color: black;
    width: 80%;
}

@media  screen and (max-width: 1000px) {
    .name {
        font-size: x-large;
        margin-top: -5px;
    }
    .navbar {
        height: 50px;
    }
    .button {
        font-size: medium;
    }
}

@media  screen and (max-width: 600px) {
    .name {
        font-size: medium;
        margin-top: 2px;
    }
    .navbar {
        height: 30px;
    }
    .button {
        font-size: small;
    }

}

@font-face {
    font-family: oswald;
    src: url(/Font/Oswald/Oswald-VariableFont_wght.ttf)
}

@font-face {
    font-family: name;
    src: url(/Font/Ephesis/Ephesis-Regular.ttf)
}

@font-face {
    font-family: title;
    src: url(/Font/Carattere/Carattere-Regular.ttf)
}

@font-face {
    font-family: content;
    src: url(/Font/Gothic_A1/GothicA1-Medium.ttf)
}

@font-face {
    font-family: page_title;
    src: url(/Font/Philosopher/Philosopher-BoldItalic.ttf) 
}

@font-face {
    font-family: birth_stone;
    src: url(/Font/Birthstone/Birthstone-Regular.ttf)
}

@font-face {
    font-family: game;
    src: url(/Font/Dosis/Dosis-VariableFont_wght.ttf)
}